ugi=tuku,tuku1234
root=/app/tuku/chenghuige
python=./deepiu/bin/python

input_path=/app/tuku/bianyunlong/clickquery
temp_path=/app/tuku/chenghuige/tmp/bow-all
dir=/app/tuku/chenghuige/image-caption/bow
local_dir=/home/gezi/temp/image-caption/keyword/bow

train_data_path=$input_path/clickquery_merge_triplet
valid_data_path=$input_path/clickquery_merge_triplet.test

train_output_path=$dir/train
train_count_path=$dir/train_count
train_word_count_path=$dir/train_word_count
valid_output_path=$dir/valid
valid_count_path=$dir/valid_count
fixed_valid_output_path=$dir/fixed_valid

local_train_output_path=$local_dir/train

resource_dir=/home/gezi/exp/tieba/urate

vocab_size=500000

seg_method=full
online_seg_method=full
feed_single=0

