#HADOOP_HOME=/home/img/chenghuige/soft/hadoop-client/hadoop
ugi=tuku,tuku1234
root=/app/tuku/chenghuige
python=./deepiu/bin/python
image_caption_lib_path=./deepiu/lib/python2.7/site-packages/deep_iu/deep_iu/image_caption

input_path=/app/tuku/bianyunlong/clickquery
temp_path=/app/tuku/chenghuige/tmp/basic
dir=/app/tuku/chenghuige/image-caption/seq-basic
local_dir=/home/gezi/temp/image-caption/keyword/seq-basic

train_data_path=$input_path/clickquery_merge_triplet
valid_data_path=$input_path/clickquery_merge_triplet.test

train_output_path=$dir/train
train_count_path=$dir/train_count
train_word_count_path=$dir/train_word_count
valid_output_path=$dir/valid
valid_count_path=$dir/valid_count
fixed_valid_output_path=$dir/fixed_valid

local_train_output_path=$local_dir/train

resource_dir=/home/gezi/exp/tieba/urate

vocab_size=500000
seg_method=basic_single
online_seg_method=basic
feed_single=1
