input_path=/home/gezi/data/image-caption/flickr/
dir=/home/gezi/temp/image-caption/flickr/seq-with-unk
#dir=/tmp/image-caption/flickr

train_data_path=$input_path/train/
valid_data_path=$input_path/test/

train_output_path=$dir/train
valid_output_path=$dir/valid
fixed_valid_output_path=$dir/fixed_valid

resource_dir=/home/gezi/exp/tieba/urate/

